# Go build output
/chromakopia
*.exe

# CKAF datasets and metadata databases
*.ckd
*.ckx
*.ckm
*.cki
*.db

# legacy Bun implementation dependencies
legacy/node_modules

# dotenv environment variable files
.env
.env.*.local
.env.local

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# test audio file
machine_love.flac
